/*MEDIA QUERIES PORTFOLIO HOME*/
	/*large devices*/
		@media only screen and (min-device-width : 850px) and (max-device-width : 1000px) {
			body {
				font-size:25px;
				width:1000px;
			}
/*header and nav*/
			.flextop {
				display:flex;
				flex-direction:row;
				width:1000px;
			}
/*header and nav end*/

/*background image*/
	
			section {
				height:auto;
			}
		}
	
	/*Medium*/
		@media only screen and (min-device-width : 600px) and (max-device-width: 850px) {
		
			body {
				width:850px;
			}
			
			.mainbackground {
				background-image: url("http://tamerapeake.us.tempcloudsite.com/portfolio/portfoliowebpage/homepageimages/dm2.jpg");
			}
/*header and nav*/
			.flextop {
				width:850px;
			}
/*header and nav end*/

/*background image*/
	
			section {
				height:auto;
			}
/*background image end*/

		}
	/*Medium 2*/
		@media only screen and (min-device-width : 450px) and (max-device-width: 600px) {
		
		body {
			width:600px;
			}
		.mainbackground {
			background-image: url("http://tamerapeake.us.tempcloudsite.com/portfolio/portfoliowebpage/homepageimages/dm2.jpg");
		}
/*header and nav*/
		.flextop {
			display:flex;
			flex-direction:column;
			width:600px;
		}
	
		header {
			width:100%;
		}
	
		nav {
			width: 100%;
		}
/*header and nav end*/

/*background image*/
	
			section {
				height:auto;
			}
/*background image end*/
		}
		
			/*Medium 3*/
		@media only screen and (min-device-width : 300px) and (max-device-width: 450px) {
		
		body {
			width:400px;
			}
		.mainbackground {
			background-image: url("http://tamerapeake.us.tempcloudsite.com/portfolio/portfoliowebpage/homepageimages/dm2.jpg");
			width:400px;
			height:387px;
		}
/*header and nav*/
		.flextop {
			display:flex;
			flex-direction:column;
			width:400px;
		}
	
		header {
			width:100%;
			font-size:35px;
			text-align:center;
		}
	
		nav {
			width: 100%;
		}
		
		nav a {
			padding:5px;
			justify-content:start;
			font-size:30px;
		}
		
		nav a:first-of-type {
			display:none;
		}
/*header and nav end*/

/*background image*/
	
			section {
				height:auto;
			}
/*background image end*/
		}
		
				/*Medium 3*/
		@media only screen and (max-device-width: 300px) {
		
		body {
			width:300px;
			}
		.mainbackground {
			background-image: url("http://tamerapeake.us.tempcloudsite.com/portfolio/portfoliowebpage/homepageimages/dm2.jpg");
			width:300px;
			height:287px;
		}
/*header and nav*/
		.flextop {
			display:flex;
			flex-direction:column;
			width:300px;
		}
	
		header {
			width:100%;
			font-size:35px;
			text-align:center;
		}
	
		nav {
			width: 100%;
		}
		
		nav a {
			display:block;
			padding:5px;
			justify-content:start;
			font-size:30px;
		}
		
		nav a:first-of-type {
			display:none;
		}
/*header and nav end*/

/*background image*/
	
			section {
				height:auto;
			}
/*background image end*/
		}
/*Media Queries End*/

/*transitions*/
	.transition-fade{
		opacity: 1;
		transition:15s;
	}
	
	html.is-leaving .transition-fade{
		opacity:0;
	}
/*transitions end*/
</style>